@import url("https://fonts.googleapis.com/css?family=Nunito:200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0px 100px;
  z-index: 10000;
}

@media (max-width: 767px) {
  header {
    padding: 30px 40px 0px 40px;
  }
}

header #toggle {
  position: relative;
  width: 35px;
  height: 35px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
}
header #toggle span {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  border-radius: 2px;
  height: 2px;
  background-color: #fff;
  transition: all 1s;
}

header #toggle span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

header #toggle span:nth-child(1) {
  top: 0px;
}

header #toggle span:nth-child(2) {
  top: 16px;
}
header #toggle span:nth-child(3) {
  top: 32px;
}

.banner.active header #toggle span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.banner.active header #toggle span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.banner.active header #toggle span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  /* background: url(vermont-2.jpg); */
  /* background-attachment: fixed; */
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  transition: 0.75s;
  z-index: 2;
}

@media (min-width: 767px){
  #navigation {
    right: 0
  }

  .banner {
    background: url(vermont-2.jpg);
    background-attachment: fixed;
  }
}


@media (max-width: 767px) {
  #navigation {
    right: -250px;
  }
  #sec.banner {
    padding: 150px 0px 150px 0px;
  }
  div.content {
    font-size: 0.5em;
    margin: 3.5em 0;
  }

  .banner .content p {
    font-size: 1.8em;
  }

  #sec.active {
    transform: translateX(-250px);
  }

  body #navigation {
    width: 250px;
  }

  body #navigation ul li a {
    font-size: 1.5em;
    margin: 5px 0;
  }

  #sec .sci {
    bottom: 50px;
    flex-direction: row;
  }

  ul.sci li a img {
    filter: none;
  }
}

.banner.active {
  transform: translateX(-400px);
}

#navigation {
  position: fixed;
  top: 0;
  width: 400px;
  height: 100vh;
  background: #101a1f;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

#navigation ul {
  position: relative;
  display: flex;
  flex-direction: column;
}

#navigation ul li {
  list-style: none;
}

#navigation ul li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 15px 0;
}

a .r-arrows, a .l-arrows {
  height: 100px;
}

.projects{
  display: flex;
  flex-direction: row;
}

section.project-content{
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.content {
  margin: 12em;
  margin-left: 0;
  padding: 1em;
  padding-left: 0;
  max-width: 900px;
  background: rgba(221, 221, 221, 0.445);
  color: rgb(5, 5, 5);
  border-radius: 5px;
}

.content h2 {
  font-size: 2.5em;
  padding: 2rem;
  padding-top: 0;
  letter-spacing: 0.1em;
}

.content h2 span {
  color: #000102;
  font-size: 1.4em;
  font-weight: 700;
}

.content p {
  padding: 2rem;
  padding-top: 0;
  font-size: 1.5em;
  font-weight: 500;
}

.sci {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 100px;
}

.sci li {
  list-style: none;
}

.sci li a {
  position: relative;
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  text-decoration: none;
  margin: 10px 0 0;
  transition: 0.5s;
}

.sci li a:hover {
  transform: scale(150%);
}

.sci li a img {
  max-width: 70px;
  filter: invert(1);
  mix-blend-mode: hard-light;
}

.logo-computer img {
  margin: 0 1px 2px 5px;
}
@media (min-width: 767px) {
  .logo-mobile img {
    margin: 0 1px 2px 5px;
    display: none;
  }
}

@media (max-width: 767px) {
  .logo-computer {
    display: none;
  }
}

.whitespace-anim {
  background-color: black;
  animation-name: blinking;
  animation-duration: 1.1s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes blinking {
  0% {
  }
  50% {
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 3px solid black;
  }
  100% {
  }
}
.content a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  padding: 8px 20px;
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  margin-left: 1em;
}
